**Доклад тема 10**

**Задание 1**

Создайте свой класс и с помощью pickle запишите его в файл под название "MyClassInFile"

In [1]:
import pickle
class class_one:
    class_data = {'something'}
    def funk(class_data):
        return class_data
class_class = class_one()
with open('MyClassInFile.pickle', 'wb') as f:
    pickle.dump(class_class, f)

**Задание 2**

С помощью shelve создайте файл "MyFavoriteMovies", и запишите в него названия своих любимых фильмов. В качестве ключей используйте имена режисеров

In [2]:
import shelve
with shelve.open("MyFavoriteMovies") as Movies:
    Movies["Wenders"] = 'Der Himmel uber Berlin'
    Movies["Bergman"] = "Persona"
    Movies["Aleksandrov"] = "Volga-Volga"
with shelve.open("MyFavoriteMovies") as Movies:
    for key in Movies:
        print(key," : ", Movies[key])

Wenders  :  Der Himmel uber Berlin
Bergman  :  Persona
Aleksandrov  :  Volga-Volga

**Задание 3**

Создайте таблицу employees и заполните ее данными, как на картинке. Повысьте зарплату на 1000 долларов всем работикам младше 30 лет и удалите из таблицы работников старше 40

In [3]:
import sqlite3
conn = sqlite3.connect("mydatabase1.db")
cursor = conn.cursor()
cursor.execute("CREATE TABLE employy (name text, salary$ text, age text)")

In [4]:
employ = [('John Doe', '5000', '35'),
          ('Marie Paige', '6000', '25'),
          ('Megan Flores', '3000', '29'),
          ('Harmony Simmons', '4000', '42')]

In [5]:
cursor.executemany("INSERT INTO employy VALUES (?,?,?)", employ)
conn.commit()
sel = "SELECT rowid, * FROM emplo ORDER BY age"
cursor.execute(sel)
cursor.fetchall()

[(2, 'Marie Paige', '6000', '25'),
 (3, 'Megan Flores', '3000', '29'),
 (1, 'John Doe', '5000', '35')]

In [6]:
sel = "DELETE FROM employy WHERE age >= '40'"
cursor.execute(sel)
conn.commit()
sel = "SELECT rowid, * FROM employy ORDER BY age"
cursor.execute(sel)
cursor.fetchall()

[(2, 'Marie Paige', '6000', '25'),
 (3, 'Megan Flores', '3000', '29'),
 (1, 'John Doe', '5000', '35')]

In [7]:
sel = """
UPDATE employy 
SET salary$ = '7000' 
WHERE age = '25'
"""
cursor.execute(sel)
conn.commit()

In [8]:
sel1_1 = """
UPDATE employy
SET salary$ = '4000' 
WHERE age = '29'
"""
cursor.execute(sel1_1)
conn.commit()

In [9]:
sel = "SELECT rowid, * FROM employy ORDER BY age"
cursor.execute(sel)
cursor.fetchall()

[(2, 'Marie Paige', '7000', '25'),
 (3, 'Megan Flores', '4000', '29'),
 (1, 'John Doe', '5000', '35')]